/* html, body {
	height: 100%;
}

body {
	background: #333;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Helvetica Neue;
}

h1 {
	font-size: 2em;
	color: #eee;
	display: inline-block;
}

a {
	color: white;
}

p {
	margin-top: 1em;
	text-align: center;
	color: #aaa;
}

input {
	background: white;
	border-radius: 4px;
	border: 2px solid #e8e8e8;
	width: 95%;
	height: 38px;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
} */

.field-container {
	text-align: left;
}

.field-container span {
	display: none;
}

.field-container.error:before {
	content: 'x';
	display: inline-block;
	float: right;
	margin-top: 10px;
	font-weight: 600;
	color: #ca3938;
}

.field-container.error span {
	display: inline-block;
	font-size: 12px;
	text-align: left;
	width: 100%;
	font-style: italic;
	color: #ca3938;
}

.field-container.error input {
	border: 2px solid #ca3938;
}